*
!.gitignore
!Makefile
!icp.cpp
!pcd.h
!pcd.cpp
!kdtree.cpp
!kdtree.h
!descriptor.h
!descriptor.cpp
!lapack.h
!normal.h
!normal.cpp
!hashtable.h
!hashtable.cpp
!hole_detector.cpp
!ray_tracing.cpp
!hole_tracing.cpp
!plyheader
!kitti
kitti/*
!kitti/pipeline.sh
!kitti/writeLabels.py
!kitti/writeDescriptors.py
!kitti/labelCategory.txt
!kitti/plotESF.py
!kitti/countScore.py
!kitti/svm_pipeline.sh
!kitti/knn.py
!kitti/cad_pipeline.sh
!tools
tools/*
!tools/esf.cpp
!tools/viz.cpp
!tools/cluster.cpp
!tools/correspondence_grouping.cpp
!tools/vizNeighbors.cpp
!tools/template_alignment.cpp
!tools/alignment_prerejective.cpp
!tools/CMakeLists.txt
!cloud
cloud/*
!cloud/pipeline_single.sh
!cloud/processPSB.py
!cloud/raytrace.sh

