*
!.gitignore
!Makefile
!icp.cpp
!pcd.h
!pcd.cpp
!kdtree.cpp
!kdtree.h
!descriptor.h
!descriptor.cpp
!lapack.h
!normal.h
!normal.cpp
!hashtable.h
!hashtable.cpp
!hole_detector.cpp
!ray_tracing.cpp
!hole_tracing.cpp
!semantics.cpp
!rd_desc.cpp
!hpcd.cpp
!scan_eval.cpp
!esfc.cpp
!occ_grid.cpp
!plyheader
!kitti
kitti/*
!kitti/pipeline.sh
!kitti/writeLabels.py
!kitti/writeDescriptors.py
!kitti/labelCategory.txt
!kitti/plotESF.py
!kitti/plotPCA.py
!kitti/countScore.py
!kitti/svm_pipeline.sh
!kitti/knn.py
!kitti/lda.py
!kitti/logistic.py
!kitti/bayes.py
!kitti/cad_pipeline.sh
!kitti/og_pipeline.sh
!kitti/svc.py
!kitti/decision_tree.py
!kitti/boosting.py
!kitti/adaboost.py
!kitti/part_feature.py
!tools
tools/*
!tools/esf.cpp
!tools/viz.cpp
!tools/cluster.cpp
!tools/correspondence_grouping.cpp
!tools/vizNeighbors.cpp
!tools/template_alignment.cpp
!tools/alignment_prerejective.cpp
!tools/rgb.cpp
!tools/vfh.cpp
!tools/our_cvfh.cpp
!tools/rsd.h
!tools/rsd.hpp
!tools/rsd.cpp
!tools/grsd.h
!tools/grsd.hpp
!tools/grsd.cpp
!tools/curvature.cpp
!tools/CMakeLists.txt
!benchmark
benchmark/*
!benchmark/test_hpcd.sh
!benchmark/test_cluster.sh
!benchmark/test_hpcd_kitti.sh
!benchmark/test_cluster_kitti.sh
!cloud
cloud/*
!cloud/pipeline_single.sh
!cloud/processPSB.py
!cloud/raytrace.sh
!cloud/concatpcd.py
!cloud/translatepcd.py
!cloud/scalepcd.py
!cloud/downsamplepcd.py
!cloud/rotatepcd.py
!cloud/concat_esf.py
!cloud/filterpcd.py
!obstruction
obstruction/*
!obstruction/process_bounding_box.py
